<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorCreation</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AuthorCreation", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="Mobile" placeholder="Mobile Number" /><br/><br/>
            <input type="file" name="postedFile" />
            <input type="submit" id="btnUpload" value="Upload" />
        }
    </div>
</body>
</html>
