<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/FrontEndContents/Auth/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/FrontEndContents/Auth/css/RegisterStyle.css">
</head>
<body>

    <div class="main">

        @RenderBody()

    </div>

    <!-- JS -->
    <script src="~/FrontEndContents/Auth/vendor/jquery/jquery.min.js"></script>
    <script src="~/FrontEndContents/Auth/js/RegisterMain.js"></script>
</body>
</html>