<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorPublicView</title>
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <p>You can subscribe the Author.</p>
        }
        else
        {
          <p>You can't Subscribe this author.</p>
        }
    </div>
</body>
</html>
