<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorUserView</title>
</head>
<body>
    <div> 
        Hello, I am a Author
    </div>
</body>
</html>
